/* app styles */
* {
  font-family: Helvetica;
  font-size: 16px;
  margin: 0px 20px 0px 20px;
  padding: 0px;
}

header {
  background: #444;
  color: #D00;
  margin: 10px 20px;
  padding: 10px;}

h1 {
  font-size: 48px;
  margin: 10px 10px;
}

h2 {
  font-size: 24px;
  margin: 10px 10px;
}

section {
  margin: 10px 20px;
  padding: 10px;
}

section.first {
  background: #EEE;
}

section.second {
  background: #DDD;
}

section.third {
  background: #CCC;
}

section.fourth {
  background: #BBB;
}

section.fifth {
  background: #AAA;
}

p {
  width: 600px;
}

p.indent {
  width: 600px;
  padding-left: 40px;
}

p.italic {
    font-style: italic;
}

ul {
    list-style-type: none;
    width: 600px;
    padding: 5px 0px;
}

ul.bullet {
    list-style-type: none;
    width: 600px;
    padding: 5px 40px;
}

li {
    padding: 5px;
}

li.goals {
    list-style-type: circle;
    width: 600px;
}

ol {
    list-style-type: decimal;
    width: 600px;
    padding: 5px 40px;
}
